---

deployment:
  name: encryption-service
  image: vpnbeast/encryption-service:1.0.14
  replicaCount: 1
  serverPort: 8085
  managementEndpoint: /health/ping
  ingressEndpoint: /encryption-service
  environment:
    timezone: Europe/Istanbul

ingress:
  enabled: false
